html, body {
    margin: 0;
    padding: 0;
    font-family: "STIX Two Text", serif;
    max-width: 100%;
    background-color: #E3DAC9;
    scroll-behavior: smooth;
}
#navbar {
    width: calc(100% - 4rem);
    background-color: #4a4e69;
    color: white;
    display: flex;
    border-radius: 10px;
    padding: 0 2rem;
    top: 1rem;
    z-index: 100;
}
#nav-links-right {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}
#nav-links-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}
#nav-links-right a:hover {
    text-decoration: underline;
}
#navbar h2 {
    font-family: 'STIX Two Text', serif;
    font-weight: 700;
    font-size: 1.75rem;
    margin-top: 15px;
    color: white;
}
#main-content {
    color: #1e2a34;
}
#main-content p {
    font-family: "Montserrat", sans-serif;
    color: #1e2a34;
    line-height: 1.6;
}
#main {
    margin: 0 4%;
}
#main-content {
    display: flex;
    min-height: calc(100vh - 7rem);
}
#box-1 {
    flex: 3;
    background-color: #e9c89d;
    padding: 3rem;
    margin: 1rem 0.5rem 2rem 0;
    border-radius: 10px;
}
#box-2 {
    flex: 1;
    background-color: #e9c89d;
    padding: 3rem;
    margin: 1rem 0 2rem 0.5rem;
    border-radius: 10px;
}
.hero-tan {
    color: #d2b05f;
}
.fancy {
    font-family: cursive;
    font-style: italic;
    color: #4a4e69;
    font-weight: 700;
}
#main h1 {
    margin: 0;
}
hr {
    border: none;
    border-top: 1px solid #264653;
}
.footer {
    margin-top: auto;
}
#search-bar {
    display: flex;
    width: 100%;
    margin: 22px 0;
}
#search-bar input {
    flex-grow: 1;
    padding: 8px;
    font-size: 1rem;
    border: none;
    font-family: "Montserrat", sans-serif;
}
#search-bar button {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
#search-bar button:first-child {
    border-radius: 6px 0 0 6px;
    background-color: #888;
}
#search-bar button:last-child {
    border-radius: 0 6px 6px 0;
    background-color: #bd9e56;
}
#search-bar button:hover {
    filter: brightness(1.2);
}